Package: com.rian.disablecam
Name: DisableCam
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: RiDan
Author: RiDan
Section: Tweaks
